:root {
    --navbar-color: #7F5539;
    --text-background:#E6CCB2;
    --border-color: #9C6644;
    --text-color: #EDE0D4;
}

@media (min-width: 768px){

    h1 {
        font-size: 48px;
    }
    .open-quote{
        font-size: 24px;
    }
}

body {
    margin: 0;
    padding: 15px 45px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

p {
    text-align: center;
    padding: 15px 35px;
}
.open-quote {
    text-align: center;
}

.col-md-6 {
    background: var(--text-bacground);
}